/* Reset de estilos */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border box;
}

body{
    font-family: 'Outfit', sans-serif;
}

header{
    background-color: burlywood;
    border-bottom: brown;
    padding: 15px 5px 15px ;
    text-align: center;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

main{
    padding: 15px;
    background-color: coral;
}

.producto{
    border: 1px solid black;
    display: inline-block;
    width: 150;
    height: 200;
    margin: 10px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

.producto img{
    width: 100px;
    height: 150px;
    border: 2px solid black;
    object-fit: cover;
}

.Descripcion {
    font-size: 10px;
}

.producto h3{
    margin-bottom: 15px;
}

#Precio{
    margin-top: 10px;
    margin-bottom: 1 px;
}

.producto button{
    border: 2px solid black;
    border-radius: 5%;
    background-color: yellowgreen;
    width: 100px;
    padding: 15px;
    margin-top: 40px;
}

footer{
    text-align: center;
    padding: 10px;
    background-color:rgb(240, 186, 150) ;
    border-top: 2px solid brown;
    position:absolute;
    bottom: 0;
    width: 100%;
}

